@import './reset.css';


main {
    min-width: 100%;
    height: 100vh;
    height: calc(var(--vh 1vh) * 100);
}

.map {
    width: 100%;
    height: 100vh;
    background-color: var(--ap-bg-dark);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--ap-bg-dark);
    display: grid;
    place-items: center;
    z-index: 5555;

}


.overlay .loading {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(25  255 255 / 0.8);
    border-top: 3px solid transparent;
    border-radius: 50%;
    z-index: 9999;
    animation: 1.3s linear infinite rotate;

}

@keyframes rotate {
    from {
        rotate: z 0deg;
    } to {
        rotate: z 360deg;
    }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none !important
}